#root {
    background: #003366
}

#tab-content {
    padding: 50px
}

.nav-item {
    margin: 0px 20px 0px 20px;
    --bs-nav-link-color: white;
    font-size: 25px
}


html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
    background: #003366
}
body {
    min-height: 100%;
    margin: 0;
    background: #003366;
    
}

.container {
    min-width: 100%

}

header {
    min-width: 100%;
    background-color: rgb(62, 110, 8);
    padding: 35px
}

footer {
    
    display: flex;
    padding: 50px;
    justify-content: center;
    
}

footer ul {
    
    display: flex;
    
    
}

footer ul li{
    padding: 30px;
    list-style: none;
    width: 10px;
    height: 10px;
    
    
}

footer ul li img {
    object-fit: contain;
    height: 40px;
}

h1 {
    color: white
}

p {
    color: white
}

h2 {
    color: white
}

h3 {
    color: white
}

li {
    color: white;
   
}


